<header>
  <div class="logo">
    <%= image_tag("logo.png", alt: "Logo") %>
  </div>
  <div class="nav-bar">
    <nav>
      <ul>
        <div>
          <li><%= link_to "Accueil", root_path %></li>
        </div>
        <div>
          <li><%= link_to "Réservations", "#" %></li>
        </div>
        <div>
          <li><%= link_to "Nos Terrains", stadia_path %></li>
        </div>
        <div>
          <li><%= link_to "Contact", contact_index_path %></li>
        </div>
      </ul>
    </nav>
    <div class="search-icon">
      <i class="fa-light fa-magnifying-glass"></i>
    </div>
  </div>
  <div>
    <div class="se-connecter">
      <%= link_to "Se Connecter", "#", class: "btn btn-primary", id: "seConnecter_button" %>
      <%= link_to "S'inscrire", new_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</header>

<main>
  <div class="form-container">
    <h2 class="text-center fw-bold mb-2">Lammafoot</h2>
    <p class="text-center mb-4">Créez votre compte Chez Lammafoot</p>

    <form>
      <div class="row g-2 mb-3 name-prenom">
        <div class="col-6 content-name">
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Prénom" required>
          </div>
        </div>
        <div class="col-6 content-name">
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Nom" required>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input type="email" class="form-control" placeholder="Email" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-phone"></i></span>
        <input type="number" class="form-control" placeholder="Téléphone" required>
      </div>

      <div class="input-group mb-3 password-input">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe" required>
        <span class="input-group-text toggle-password" onclick="togglePassword('password', this)"><i class="fas fa-eye"></i></span>
      </div>

      <div class="input-group mb-4">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmer le mot de passe" required>
        <span class="input-group-text toggle-password" onclick="togglePassword('confirmPassword', this)"><i class="fas fa-eye"></i></span>
      </div>

      <div>
        <button type="submit" class="btn btn-custom w-100 mb-3">S'inscrire</button>
      </div>

      <div class="text-center">
        <small>Déjà un compte ? <%= link_to "Se connecter", "#", class: "text-info text-decoration-none" %></small>
      </div>
    </form>
  </div>
</main>